# ******************************************************************
# Merge "releases/**" PR to kick off the release to NPM registry.
# ******************************************************************

name: Publish to npm

on:
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC

env:
  NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

jobs:
  createRelease:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Debug npm
        run: | 
            npm config list
            npm whoami
            npm config list
            npm config get registry

      - run: npm publish --access public
